@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/code";

@import "mixins";
@import "fonts";
@import "global";
@import "blocks";

a[href^="mailto:"],
a[href^="tel:"] {
  white-space: nowrap;
  text-decoration: none;
}

a:hover {
  // color: $carmine;
}

.title-main {
  font-size: 45px;
  color: $red;
  text-transform: uppercase;
}

.subtitle-main {
  font-size: 30px;
  color: $grey;
}

.cases {
  $this: &;

  &__column {
    margin-bottom: 32px;
  }

  &__wrap {
    position: relative;
    min-height: 100%;
  }

  &__img {
    width: 100%;
  }

  &__content {
    color: $grey-one;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 20px 30px 64px;
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $white-65;
    transition: all 0.3s ease;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }

    &:hover,
    &:focus-within,
    &:focus {
      #{$this}__content {
        color: $white;
      }

      #{$this}__mask {
        background-color: $red-85;
      }

      #{$this}__badge {
        background-color: $blue;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
  }

  &__badge {
    width: 39px;
    height: 170px;
    background-color: $red;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__number {
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 14px;
  }

  &__icon {
    width: 12px;
    height: 11px;
    background: url(../img/sprite.png) 0 0 no-repeat;
    margin-bottom: 18px;
  }
}
