@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/code";

@import "mixins";
@import "fonts";
@import "global";
@import "blocks";

a[href^="mailto:"],
a[href^="tel:"] {
  white-space: nowrap;
  text-decoration: none;
}

a[href^="mailto:"] {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

p {
  line-height: 24px;
}

.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 22px;
}

.alignright {
  float: right;
  margin-left: 30px;
  margin-bottom: 22px;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.wp-block-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

h1 {
  font-size: 36px;
  color: $grey-one;
  font-weight: bold;

  @extend .text-to-crop;
}

h2 {
  font-size: 24px;
  color: $grey-one;
  font-weight: $font-weight-light;
}

.entry {
  & h2,
  & .h2 {
    border-bottom: 2px solid $grey-two;
    padding-bottom: 14px;
  }
}

@mixin lhCrop($line-height, $font-size: 36px) {
  margin-top: calc((1 - #{$line-height}) * #{$font-size});
}

.text-to-crop {
  @include lhCrop($headings-line-height, $h1-font-size);
}

main {
  padding-bottom: 7.2%;
}

.title-main {
  font-size: 45px;
  line-height: 1.15;
  font-weight: 300;
  color: $red;
  text-transform: uppercase;
  margin-bottom: 9px;
  white-space: nowrap;
}

.subtitle-main {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.15;
  color: $grey;
  margin-bottom: 18px;
}

.breadcrumbs {
  background: $grey-two;
  padding: 5px 0 6px;
  line-height: 1.04;
  text-align: center;

  a {
    font-size: 10px;
    font-weight: bold;
    color: $grey-one;
    text-decoration: none;
    margin-right: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      color: $link-color;
    }
  }

  #breadcrumbs {
    margin: 0;

    span {
      color: $grey-one;
      font-size: 10px;
      font-weight: bold;
      margin-left: 6px;
      text-transform: uppercase;
      letter-spacing: 2px;

      &.breadcrumb_last {
        margin-left: 6px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.site-content {
  padding: 60px 0 0 0;
}

.cases {
  $this: &;

  &__column {
    margin-bottom: 32px;
  }

  &__wrap {
    position: relative;
    min-height: 100%;
  }

  &__img {
    width: 100%;
  }

  &__content {
    color: $grey-one;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 20px 42px 64px;
  }

  &__additional-text {
    display: none;
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $white-65;
    transition: all 0.3s ease;
    z-index: 6;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }

    &:hover,
    &:focus-within,
    &:focus {
      #{$this}__content {
        color: $white;
      }

      #{$this}__mask {
        background-color: $red-85;
      }

      #{$this}__badge {
        background-color: $blue;
      }

      #{$this}__additional-text {
        display: block;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    @include media-breakpoint-only(xl) {
      font-size: 24px;
      line-height: 1.1;
    }

    @include media-breakpoint-between(md, lg) {
      font-size: 16px;
      line-height: 21px;
    }

    @include media-breakpoint-only(sm) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__badge {
    width: 39px;
    height: 170px;
    background-color: $red;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 8;
  }

  &__number {
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 14px;
  }

  &__icon {
    width: 12px;
    height: 11px;
    background: url(../img/sprite.png) 0 0 no-repeat;
    margin-bottom: 18px;
  }
}

.cases-list {
  margin: 0 0 2.5rem 0;

  &__title-list {
    font-size: 24px;
    color: $grey-one;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-left: 10px;
  }

  &__link {
    display: block;
    background: $blue;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px;
    padding: 5px 9px 8px;
    line-height: 1.34;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $blue;
    }
  }
}
