$container-max-widths: (
  xl: 1170px,
);

$body-color: #666 !default;
$font-family-base: "Roboto", sans-serif;
$font-size-base: 0.8125rem !default;
$paragraph-margin-bottom: 1.25rem;
$link-color: #990000 !default;
$link-decoration: underline !default;
$link-hover-color: #3366cc !default;
$link-hover-decoration: none !default;
$white: #fff;
$white-65: rgba(255, 255, 255, 0.65);
$black-one: #292929;
$grey: #666;
$grey-one: #333;
$dark-grey: #26292c;
$red: #9d0009;
$red-85: rgba(157, 0, 9, 0.85);
$blue: #3366cc;
$body-bg: $white;
